// Colors
$color-white: #fff;
$color-black: #000;
$color-orange: #FF6F40;
$color-dark: #2A2A2A;
$color-gray: #F3F2F2;
$color-dark-gray: #747474;
$color-teal: #297D7F;
$color-text-active: #FF6F40;

// Fonts
$font-family-main: 'Comfortaa', sans-serif;
$font-weight-bold: bold;
$font-weight-normal: 500;
$font-weight-light: 400;